{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <div class="card-group">
        {% for listing in activeListings %}
        <div class="card">
            <img class="card-img-top" src="{{listing.image_url}}" alt="{{listing.title}}">
            <div class="card-body">
              <h5 class="card-title">{{listing.title}}</h5>
              <p class="card-text">{{listing.description}}</p>
              <p class="card-text"><a href="{% url 'category' listing.category %}">{{listing.category}}</a></p>
              <p class="card-text">${{listing.starting_bid}}</p>
            </div>
            <div class="card-footer">
                <a href="{% url 'listingDetails' listing.id %}" class="card-link">Open</a>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}